{% extends 'base.html.twig' %}

{% block title %}
    Welcome on this External link visit couter
{% endblock %}

{% block body %}
<article>
    What is this thing?
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
</article>
{% endblock %}